*.o

*.so

DESCRIPTION~

*.tar.gz

*.Rhistory

*.Rcheck

*.Rproj.user

.Rproj.user

*~

*\#*\#

*.\#*

TAGS

inst/NEWS.Rd~

src/symbols.rds

caret.Rproj

auto/

inst/release_process/talk/caret.vrb

inst/release_process/talk/caret.nav

inst/release_process/talk/caret.log

inst/release_process/Open_Data_Science_Conference/caret.nav

inst/release_process/Open_Data_Science_Conference/caret.fdb_latexmk

inst/release_process/Open_Data_Science_Conference/caret.log

inst/release_process/Open_Data_Science_Conference/caret.snm

inst/release_process/Open_Data_Science_Conference/caret.toc

inst/release_process/Open_Data_Science_Conference/caret.vrb

inst/model_sources/files/.RData

inst/model_sources/parseModels.Rout

.DS_Store

*.history

*.dll

inst/bookdown/tag_data.csv

inst/bookdown/_book/*

inst/bookdown/_bookdown_files/*

inst/bookdown/_main_cache/*

inst/bookdown/_main_files/*

inst/bookdown/_main.Rmd

inst/bookdown/.Rhistory

inst/bookdown/basic/*

inst/bookdown/performance/*

inst/bookdown/preprocess/*

inst/bookdown/random/*

inst/bookdown/splitting/*

inst/bookdown/visualizations/*

inst/bookdown/sampling/*

inst/bookdown/custom/*

inst/bookdown/varimp/*

inst/bookdown/misc/*

inst/bookdown/rfe/*

inst/bookdown/filters/*

inst/bookdown/ga/*

inst/bookdown/sa/*

inst/bookdown/make_files.Rout

inst/release_process/.RData

inst/release_process/make_model_Rd.Rout

revdep

inst/release_process/update_pak.Rout
