
*.o

*.so

pkg/caret/DESCRIPTION~

pkg/caret_6.0-31.tar.gz

RegressionTests/.Rhistory

pkg/caret_6.0-32.tar.gz

pkg/caret_6.0-33.tar.gz

models/files/.Rhistory

pkg/caret/R/.Rhistory

pkg/caret_6.0-35.tar.gz

pkg/caret.Rcheck
