language: r
warnings_are_errors: false
sudo: required

env:
   global:
     - CRAN: http://cran.rstudio.com
     - R_BUILD_ARGS="--no-build-vignettes --no-manual --no-examples"
     - R_CHECK_ARGS="--no-build-vignettes --no-manuall --no-examples --as-cran"
   matrix:
     - NOT_CRAN="true"
     - NOT_CRAN="false"

before_install:
  - cd pkg/caret
  - sudo add-apt-repository ppa:texlive-backports/ppa -y
  - sudo apt-get -qq update

apt_packages:
  - texlive-base
  - biblatex
  - texlive-latex-base
  - texlive-latex-recommended
  - texlive-latex-extra
  - texlive-fonts-recommended
  - texlive-fonts-extra
  - texlive-science

r_binary_packages:
  - arm
  - glmnet
  - rpart
  - C50
  - ipred
  - plyr
  - earth
  - kknn

r_github_packages:
  - jimhester/covr

notifications:
  email:
    on_success: change
    on_failure: change

after_script:
  - Rscript -e 'library(devtools);test()'
  - dump_logs

after_success:
  - Rscript -e 'library(covr);coveralls()'
