
importFrom(stats, 
           cor, cov, delete.response, dist,
           fitted.values, loess, mahalanobis,
           mcnemar.test, median, model.frame, model.matrix,
           model.response, model.weights, na.fail, na.pass, optim,
           predict, qnorm, quantile, rbinom, reshape, resid,
           residuals, rnorm, runif, sd, t.test, terms,
           toeplitz, var, na.omit, p.adjust, fitted, prcomp, hclust,
           lm, model.extract,  pt, update, binomial)
importFrom(stats4, coef)
importFrom(utils, capture.output, getFromNamespace, head,
           install.packages, installed.packages, object.size, flush.console, menu, stack,
           modifyList, combn
           )
